doctype html
html
  head
    title= 'jsapi demo'
    meta(name='viewport' content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript") var _config = !{config};
    script(type='text/javascript', src='//g.alicdn.com/dingding/open-develop/0.8.4/dingtalk.js')
    script(type='text/javascript', src='/javascripts/fetch.js')
    script(type='text/javascript', src='/javascripts/demo.js')
  body
    .pure-menu.top-menu
      ul.pure-menu-list.pure-menu-horizontal
        li.pure-menu-item.pure-menu-selected
          span.up-arw
          a.pure-menu-link(href='#') 项目设定
        li.pure-menu-item
          a.pure-menu-link(href='#') 任务管理
        li.pure-menu-item
          a.pure-menu-link(href='#') 数据查询
        
    .top-menu-space

    .bottom-space
      button.pure-button 新建
      button.pure-button 项目管理

    .pure-form.pure-form-stacked
      fieldset
        legend 添加新考核项
        label 名称
        input(type='text' name='title')
        label 描述
        textarea(name='description')
        label 评分标准
        textarea(name='grading')
      .bottom-space.right
        button.pure-button(onclick='#') 继续添加
        button.pure-button(onclick='#') 保存
        button.pure-button(onclick='#') 返回
    
    hr

    .display-line
      button.pure-button.not-button(onclick='#') 项目名称
      div
      div
        button.pure-button.right-space(onclick='#') 明细/修改
        button.pure-button(onclick='#') 删除

    .display-line
      button.pure-button.not-button(onclick='#') 项目名称项目名称项目名称项目名称项目名称项目名称项目名称项
      div
        button.pure-button.right-space(onclick='#') 明细/修改
        button.pure-button(onclick='#') 删除


    h1= title
    .pure-form.pure-form-stacked
      fieldset
        legend 添加新评分
        label 标题
        input(type='text' name='title')
        label 描述
        textarea(name='description')
      input(type='hidden' name='itemsId' value='{1, 2}')
      .bottom-space
        button.pure-button(onclick='choosePeople(\'markers\')') 选择评分人
      .bottom-space
        button.pure-button(onclick='choosePeople(\'berateds\')') 选择被评分人
      input.pure-button.pure-button-primary(type='submit' value='提交' data-url='/api/v1/new-mark')

    hr

    .pure-form.pure-form-stacked
      fieldset
        legend.top-space 添加新评分项
        label 评分项描述
        input(type='text' name='description')
        label 总分值
        input(type='text' name='totalValue')
      input.pure-button.pure-button-primary(type='submit' value='提交' data-url='/api/v1/new-mark-item')
