doctype html
html
  head
    title= 'Dingding login'
    meta(name='viewport' content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    script(type="text/javascript") var _config = !{config}; var _codeBaseKey = !{codeBaseKey};
    script(type='text/javascript', src='//g.alicdn.com/dingding/open-develop/1.5.1/dingtalk.js')
    script(type='text/javascript', src='/javascripts/send-code.js')
  body

    span 正在登录
